@tailwind base;
@tailwind components;
@tailwind utilities;

.piggy-gradient {
    background: linear-gradient(-45deg, #00416A, #799F0C, #FFE000);
    background-size: 300% 300%;
    animation: gradient-bg 20s ease infinite;
}

.cinnamint-gradient {
    background: linear-gradient(-45deg, #4AC29A, #BDFFF3, #8fddff);
    background-size: 200% 200%;
    animation: gradient-bg 20s ease infinite;
}

.anam-gradient {
    background: linear-gradient(-45deg, #9796f0, #fbc7d4, #9796f0);
    background-size: 200% 200%;
    animation: gradient-bg 20s ease infinite;
}



/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

@keyframes gradient-bg {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

